<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.TestS_003"/>
      <class name="testcases.TestS_004"/>
      <class name="testcases.TestS_001"/>
      <class name="testcases.TestS_002"/>
      <class name="testcases.TestS_005"/>
      <class name="generic.TestcaseSuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
